*{
    text-align: center;
    background-color: black;
}
.img{
    border-radius: 20px;
    border: 8px solid white;
    margin-top: 100px;
}
.that{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 64px;
}
.avocado{
    color: white;
    font-size: 24px;
}
